<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>S2</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/backend.css" rel="stylesheet">
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="admin-index.html">S2</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="admin-perfil.html">Perfil</a></li>
                        <li><a href="admin-pesquisar.html">Pesquisar</a></li>
                        <li><a href="admin-bate-papo.html">Bate-papo</a></li>
                        <li><a href="admin-amigos.html">Amigos</a></li>
                        <li><a href="admin-favoritos.html">Favoritos</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="sign-in.html">Logout</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <div class="container" style="margin-top: 50px; padding: 15px">
            <div class="row">
                <div class="col-md-2" style="margin-bottom: 15px">
                    <img src="img/default/user.jpg" class="img-responsive">
                </div>
                <div class="col-md-10" style="margin-bottom: 15px">
                    <div>
                        Nome
                    </div>
                    <div>
                        29 anos
                    </div>
                    <div>
                        10 km (São José do Rio Preto)
                    </div>
                </div>
            </div>
            <div>
                <div class="btn-group btn-group-justified">
                    <a class="btn btn-default" role="button">Perfil</a>
                    <a class="btn btn-default" role="button"><span class="glyphicon glyphicon-plus"></span></a>
                    <a class="btn btn-default" role="button">Fotos</a>
                </div>
            </div>
            <div class="row" style="margin-top: 15px">
                <div class="col-md-6">
                    <h3>Sobre mim</h3>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>Local de origem</strong>
                            <br>
                            São José do Rio Preto
                        </li>
                        <li class="list-group-item">
                            <strong>Orientação</strong>
                            <br>
                            Heterosexual
                        </li>
                        <li class="list-group-item">
                            <strong>Comprimento do cabelo</strong>
                            <br>
                            Comprido
                        </li>
                        <li class="list-group-item">
                            <strong>Body art</strong>
                            <br>
                            Tatuagem
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h3>Entrevista</h3>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>Status do relacionamento</strong>
                            <br>
                            Solteiro(a)
                        </li>
                        <li class="list-group-item">
                            <strong>O que você está procurando</strong>
                            <br>
                            O que rolar
                        </li>
                        <li class="list-group-item">
                            <strong>A fidelidade é importante para você?</strong>
                            <br>
                            Fidelidade tem prioridade máxima.
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>