<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>S2</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/frontend.css" rel="stylesheet">
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>

        <div class="s2-splash">
            <form role="form">
                <label>
                    Informe seu e-mail e senha
                </label>
                <div class="form-group">
                    <input type="email" class="form-control" id="email" name="email" placeholder="E-mail" style="border-bottom-left-radius: 0; border-bottom-right-radius: 0">
                    <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha" style="margin-top: -1px; border-top-left-radius: 0; border-top-right-radius: 0">
                </div>
                <div class="btn-group btn-group-justified">
                    <a href="index.html" class="btn btn-default" role="button">Voltar</a>
                    <a href="admin-index.html" class="btn btn-success" role="button">Entrar</a>
                </div>
            </form>
            <div style="margin-top: 15px;">
                <a href="recovery.html">Esqueceu sua senha?</a>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>